* {
    max-width: 1920px;
}

body {
    height: 981px;
    background-attachment: fixed;
}

.container-c {
    width: 1080px;
    margin-left: 420px;
    margin-right: 420px;
}

.text-header {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

.fade-anim {
    opacity: 0;
    margin-top: 300px;
    animation-name: fade-in-move-up;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in-move-up {
    0% {
        opacity: 0;
        margin-top: 300px;
    } 100% {
        opacity: 100%;
        margin-top: 50px;
    }
}

.rolling-stone {
    width: 1080px;
}

.mt-25 {
    margin-top: 250px;
}

.button {
    padding: 10px;
    border-radius: 10px;
}

.hidden {
    text-decoration: none;
}

.ml-20 {
    margin-left: 200px;
}